{% extends 'base.html.twig' %}

{% block title %}Add product a checklist{% endblock %}

        {% block stylesheets %}
            {#            {{ encore_entry_link_tags('checklist') }}#}
        {% endblock %}
{% block body %}
    <!-- Modal -->
    <div class="modal fade" id="checklistModal" tabindex="-1" aria-labelledby="checklistLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                {# Message flash #}<div id="flash-modal" role="alert"></div>{# !!! Message flash #}

                {{ form_start(form, {'methods': 'POST', 'action': path('post_element')}) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="checklistLabel">Add a new Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_widget(form) }}
                    {{ form_errors(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ list.title }}</h1>
            <hr class="my-4">

            <button id="myModal" type="button" class="btn btn-outline-secondary"
                    data-toggle="modal" data-target="#checklistModal">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus"
                     fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd"
                                                                                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>New product
            </button>

            <!-- Liste des checklists -->
            <div class="container mt-5">

                <!-- Options de visuel des checklists -->
                <button type="button" class="btn btn-light"><i class="fas fa-list"></i></button>
                <button type="button" class="btn btn-dark"><i class="fas fa-th"></i></button>

                <div class="row justify-content-lg-center">
                    <div class="col col-lg-5">
                        <ul id="checklist" class="list-group list-group-flush">
{#                            {% for list in checklists %}#}
{#                                {% if is_granted('POST_VIEW', list) %}#}
{#                                    <div class="d-flex justify-content-between" style="background-color: {{ list.colorHexa }}">#}
{#                                        <a href="#" class="m-2 w-100 align-items-center">{{ list.title }}</a>#}
{#                                        <div>#}
{#                                            {% if list.elements|length > 0 %}#}
{#                                                <span class="badge badge-secondary badge-pill">#}
{#                                                    {{ list.elements|length }}#}
{#                                                </span>#}
{#                                            {% endif %}#}
{#                                            <div class="dropright">#}
{#                                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"#}
{#                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"#}
{#                                                         stroke-width="2"#}
{#                                                         stroke-linecap="round" stroke-linejoin="round"#}
{#                                                         class="feather feather-more-vertical align-middle">#}
{#                                                        <circle cx="12" cy="12" r="1"></circle>#}
{#                                                        <circle cx="12" cy="5" r="1"></circle>#}
{#                                                        <circle cx="12" cy="19" r="1"></circle>#}
{#                                                    </svg>#}
{#                                                </a>#}

{#                                                <!-- Menu des otions de chaque checklist -->#}
{#                                                <div class="dropdown-menu">#}
{#                                                    <a class="dropdown-item bg-light" href="#">Edit</a>#}
{#                                                    <a class="dropdown-item bg-danger text-white delete-checklist"#}
{#                                                       href="{{ path('delete_the_check_list', {'id': list.id}) }}">#}
{#                                                        Delete</a>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('checklist') }}
        {% endblock %}